<div class="container text-center">
    <h1>About Us</h1>
    <p>We are DevMatch. Our company focuses on creating an exclusive community 
    for developers , investors and entrepreneurs to meet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat nam omnis aliquid, quidem in beatae nesciunt, laudantium praesentium itaque? Aliquam cum quos error delectus atque reiciendis excepturi autem optio ut!</p>
</div>